.TextLabel {
    margin: 24px 10px;
}

.TextLabel label {
    display: block;
    margin-bottom: 5px;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: gray ;
    
}

.TextLabel input {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.07);
}